# HoopSense Environment Config
export HOOPS_REMOTE_HOST="root@your-tunnel-address.ngrok.io"
export HOOPS_REMOTE_PORT="22"
export HOOPS_REMOTE_DIR="/content/hoopsense"
export GEMINI_API_KEY=""

# GCloud SDK Integration
if [ -f "$HOME/dotfiles/opt/google-cloud-sdk/path.bash.inc" ]; then
    source "$HOME/dotfiles/opt/google-cloud-sdk/path.bash.inc"
fi
